<div class="login">

	<div class="container">

		<h2>Log In</h2>

		<form ng-submit='login()'>

			<div class="form-group">
				<label class="control-label" for="email">Email</label>
				<input type="email" ng-model="user.username" class="form-control" id="email" required>
			</div>

			<div class="form-group">
				<label class="control-label" for="password">Password</label>
				<input type="password" ng-model="user.password" class="form-control" id="password" required>
			</div>

			<button type='submit' class='btn btn-lg pull-right'>Log In</button>

		</form>
		{{user}} {{error}}
	</div>

</div>
