<div class="dashboard">

	<div class="container" ng-controller='tabController as tab'>

		<h2>Dashboard</h2>

		<div class="btn-group btn-group-justified btn-group-raised">
			<a href="" class="btn" ng-click='setTab("newPoll")' ng-class="{ actived:isSet('newPoll') }">New poll</a>
			<a href="" class="btn" ng-click='setTab("myPolls")' ng-class="{ actived:isSet('myPolls') }">My polls</a>
		</div>

		<div class="content">

			<!-- New poll -->

			<section id="newPoll" ng-show='isSet("newPoll")'>

				<form>
					<div class="form-group">
						<label class="control-label" for="namePoll">Name your poll</label>
						<input maxlength='100' type="text" class="form-control" id="namePoll" name="namePoll" required>
					</div>

					<div class="checkbox">
						<label>
							<input type="checkbox"> <span class="privatePoll">Make this poll private</span>
						</label>
					</div>

					<p>Options</p>

					<div class="form-group">
						<input maxlength='70' class="form-control" type="text" id="inputSmall" placeholder="Option">
					</div>
					<div class="form-group">
						<input maxlength='70' class="form-control" type="text" id="inputSmall" placeholder="Option ">
					</div>

					<a href="#" class="btn btn-lg">New option</a>
					<a href="#" class="btn btn-lg">Submit</a>

				</form>

			</section>

			<!-- My polls -->

			<section id="myPolls" ng-show='isSet("myPolls")'>
				<div class="table-responsive">
					<table class="table table-striped table-hover">
						<thead>
							<tr>
								<th>Poll name</th>
								<th>Most voted</th>
								<th>Total votes</th>
								<th>Operation</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>Poll name</td>
								<td>coca cola</td>
								<td>564</td>
								<td>Delete</td>
							</tr>
							<tr>
								<td>Poll name</td>
								<td>coca cola</td>
								<td>564</td>
								<td>Delete</td>
							</tr>
							<tr>
								<td>Poll name</td>
								<td>coca cola</td>
								<td>564</td>
								<td>Delete</td>
							</tr>
							<tr>
								<td>Poll name</td>
								<td>coca cola</td>
								<td>564</td>
								<td>Delete</td>
							</tr>
						</tbody>
					</table>
				</div>

				<a href="/#/poll">poll sample</a>

			</section>

		</div>

	</div>

</div>
