<div class="dashboard">

	<div class="container">

		<h2>Dashboard</h2>

		<div class="btn-group btn-group-justified btn-group-raised">
			<a href="" class="btn" ng-click='setTab("newPoll")' ng-class="{ actived:isSet('newPoll') }">New poll</a>
			<a href="" class="btn" ng-click='setTab("myPolls")' ng-class="{ actived:isSet('myPolls') }">My polls</a>
		</div>

		<div class="content">

			<!-- New poll -->

			<section id="newPoll" ng-show='isSet("newPoll")'>

				<form ng-submit='createPoll()'>

					<div class="form-group">
						<label class="control-label" for="namePoll">Name your poll</label>
						<input maxlength='100' type="text" class="form-control" id="namePoll" required ng-model='pollName'>
					</div>

					<div class="checkbox">
						<label>
							<input type="checkbox" ng-model='private'> <span class="privatePoll">Make this poll private</span>
						</label>
					</div>

					<div class="options">

						<p>Options</p>

						<div class="form-group">
							<input required maxlength='70' class="form-control" type="text" id="inputSmall" placeholder="Option" ng-model='options[0]'>
						</div>
						<div class="form-group">
							<input required maxlength='70' class="form-control" type="text" id="inputSmall" placeholder="Option " ng-model='options[1]'>
						</div>

					</div>

					<button type='button' class='btn btn-lg' ng-click='addOption()'>New option</button>
					<button type='submit' class='btn btn-lg'>Submit</button>

				</form>

			</section>

			<!-- My polls -->

			<section id="myPolls" ng-show='isSet("myPolls")'>
				<div class="table-responsive">
					<table class="table table-striped table-hover">
						<thead>
							<tr>
								<th>Poll name</th>
								<th>Most voted</th>
								<th>Total votes</th>
								<th>Operation</th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat='poll in myPolls'>
								<td> <a ng-href="/#/polls/{{poll.id}}">{{poll.name}}</a> </td>
								<td>coca cola</td>
								<td>{{poll.totalVotes}}</td>
								<td><button ng-click='deletePoll(poll.id)'>Delete</button></td>
							</tr>
						</tbody>
					</table>
				</div>

				<a href="/#/poll">poll sample</a>

			</section>

		</div>

	</div>

</div>
