<!DOCTYPE html>
<html>

<ng-include src="'/templates/head.html'"></ng-include>

<body ng-app="">

	<!-- header -->
	<header ng-include src="'/templates/header.html'"></header>

	<!-- router -->
	<main ui-view></main>

	<!-- Footer -->
	<footer ng-include src="'/templates/footer.html'"></footer>

	<!-- jQuery -->
	<script src='https://code.jquery.com/jquery-1.11.3.min.js'></script>

	<!-- Bootstrap -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

	<!-- Angular JS -->
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
	<script src="http://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.10/angular-ui-router.js"></script>

</body>

</html>
