/* Vars */

@general-color: #1E88E5;
@deleteButton: #fd6f6f;

/* Mixins */

.actived {
	background-color: rgba(153, 153, 153, .2);
}

#padding() {
	padding: 45px 8%;
	.container {
		width: 100%;
	}
}

#button-style() {
	background-color: @general-color;
	color: white;
	&:hover {
		background-color: @general-color - 20;
	}
	&:focus {
		background-color: @general-color - 20;
	}
}


/* Global */

body {
	font-weight: 500;
	display: flex;
	min-height: 100vh;
	flex-direction: column;
	font-family: 'Lato';
	color: black;
}

main {
	flex: 1 0 auto;
	padding: 0;
}


/* Header */

.navbar.navbar-default {
	background-color: @general-color;
}

.navbar {
	margin-bottom: 0;
}

.navbar.navbar-default .dropdown-menu>li>a:hover {
	color: @general-color;
}

.dropdown-menu {
	padding: 0 0;
}


/* Welcome Home */

.welcome {
	text-align: center;
	background-repeat: no-repeat;
	background-size: 100% 100%;
	.container-fluid {
		background-color: #76b6ef;
		padding: 70px 0;
		p {
			margin: 30px 0 10px;
			font-size: 2rem;
		}
	}
	.btn.btn-lg {
		padding: 25px 50px;
		#button-style;
		margin: 90px 0;
	}
}

.noPolls {
	margin: 80px 0;
	text-align: center;
}


/* Styling paddings and buttons */

.poll,
.register,
.login,
.settings,
.dashboard {
	#padding;
	.container {
		.btn.btn-lg {
			#button-style;
			margin-top: 40px;
		}
	}
}


/* Styling inputs */

.form-control,
.form-group .form-control {
	background-image: linear-gradient(@general-color, @general-color), linear-gradient(black, black);
}

.form-group.is-focused:not(.has-error) label,
.form-group.is-focused:not(.has-error) label.control-label {
	color: @general-color;
}

.form-group.is-focused .form-control {
	background-image: linear-gradient(@general-color, @general-color), linear-gradient(black, black);
}

.form-group.is-focused.has-error .form-control {
	background-image: linear-gradient(red, red), linear-gradient(black, black);
}

.radio {
	input[type=radio]:checked~.check {
		background-color: @general-color;
	}
	input[type=radio]:checked~.circle {
		border-color: @general-color;
	}
}

.form-group .radio label,
.form-group label,
.form-group label.control-label {
	color: black;
}


/* Dashboard */

.dashboard {
	h2+.btn-group {
		margin-top: 50px;
	}
	.content {
		padding: 17px 0 0;
	}
	#newPoll>form {
		.checkbox .privatePoll {
			margin-left: 20px;
			color: black;
		}
		p {
			margin-top: 22px;
		}
	}
	#myPolls {
		.table-responsive {
			margin: 40px 0;
			th,
			td {
				text-align: center;
			}
			td {
				padding: 15px 0;
				a {
					color: @general-color;
				}
			}
			button:not(.loadMore) {
				background-color: @deleteButton;
				border: none;
				outline: 0;
			}
		}
		.loadDiv {
			text-align: center;
		}
	}
}


/* Poll */

.vote {
	margin-top: 70px;
}

.totalVotes,
.info {
	margin: 40px 0;
}

.totalVotes {
	font-size: 1.8rem;
}

.progress {
	margin-top: 25px;
	margin-bottom: 35px;
	.progress-bar {
		background-color: black;
	}
}

.info+.btn.btn-lg {
	margin-top: 0 !important;
}

.optionPercent {
	span {
		font-size: 2rem;
	}
}

.optionPercent+p {
	span {
		margin-right: 3%;
	}
}

.form-group .radio label,
.form-group label {
	margin-bottom: 18px;
}
