<div class="home">

	<div class='welcome hide'>

		<div class="container-fluid">

			<h1>Voting App</h1>
			<p>
				Do you need create custom polls ?
				<br> This is your site
			</p>

		</div>

		<a href="/#/register" class="btn btn-lg">Register</a>

	</div>

	<div class="polls">

		<div class="container">

			<h2>Public polls</h2>

			<div ng-hide='noPolls' class="row search">
				<div class="col-md-4 col-md-offset-1 col-sm-4 col-sm-offset-1 col-xs-12">

					<div class="form-group">
						<div>
							<label for="search" class="control-label">Search</label>
							<input ng-model='search.name' type="text" class="form-control" id="search">
						</div>
					</div>

				</div>

				<div class="col-md-4 col-md-offset-2 col-sm-4 col-sm-offset-2 col-xs-12">

					<div class="form-group">
						<label for="orderBy" class="control-label">Order by</label>

						<div>
							<select ng-model='order' id="orderBy" class="form-control">
								<option value="date">Newest first</option>
								<option value="-totalVotes">Total votes</option>
							</select>
						</div>
					</div>

				</div>

			</div>

			<div ng-hide='noPolls' class='table-responsive'>
				<table class="table table-striped table-hover">
					<thead>
						<tr>
							<th>Poll name</th>
							<th>Most voted</th>
							<th>Total votes</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat='poll in polls | orderBy: order | filter: search | limitTo: limit'>
							<td><a href="">{{poll.name}}</a></td>
							<td>coca cola</td>
							<td>{{poll.totalVotes}}</td>
						</tr>
					</tbody>
				</table>

			</div>

			<div ng-hide='noPolls' class="loadMore">
				<a href="/#/register/" class="btn btn-lg" ng-click='loadMore()'>Load more</a>
			</div>

			<h2 ng-show='noPolls' class="noPolls">No polls</h2>

		</div>

	</div>

</div>
