<div class="home">

	<div ng-hide='isLoggedIn()' class='welcome'>

		<div class="container-fluid">

			<h1>Voting App</h1>
			<p>
				Do you need create custom polls ?
				<br> This is your site
			</p>

		</div>

		<a href="/#/register" class="btn btn-lg">Register</a>

	</div>

	<div ng-show='isLoggedIn()' class="dashboard">

		<div class="container">

			<h2>Dashboard</h2>

			<div class="btn-group btn-group-justified btn-group-raised">
				<a href="" class="btn" ng-click='setTab("newPoll")' ng-class="{ actived:isSet('newPoll') }">New poll</a>
				<a href="" class="btn" ng-click='setTab("myPolls")' ng-class="{ actived:isSet('myPolls') }">My polls</a>
			</div>

			<div class="content">

				<!-- New poll -->

				<section id="newPoll" ng-show='isSet("newPoll")'>

					<form ng-submit='createPoll()' class="formCreatePoll" novalidate>

						<div class="form-group">
							<label class="control-label" for="namePoll">Name your poll</label>
							<input maxlength='120' type="text" class="form-control" id="namePoll" required ng-model='newPoll.name'>
						</div>

						<div class="options">

							<p>Options</p>

							<div class="form-group">
								<input required maxlength='80' class="form-control" type="text" id="inputSmall" placeholder="Option" ng-model='newPoll.options[0].name'>
							</div>
							<div class="form-group">
								<input required maxlength='80' class="form-control" type="text" id="inputSmall" placeholder="Option" ng-model='newPoll.options[1].name'>
							</div>

						</div>

						<button type='button' class='btn btn-lg' ng-click='addOption()'>New option</button>
						<button type='submit' class='btn btn-lg'>Submit</button>

					</form>
					<br>
					<br>

					<div ng-show='poll' class="alert alert-dismissible alert-success">
						<strong>Poll has been created</strong>
						<p>You can access the poll in the next link
							<br> <a ng-href="/#/polls/{{poll._id}}">{{poll.name}}</a>
						</p>
					</div>

					<div ng-show='error' class="alert alert-dismissible alert-danger">
						<strong>{{error}}</strong>
					</div>
				</section>


				<!-- My polls -->

				<section id="myPolls" ng-show='isSet("myPolls")'>

					<div ng-hide='myPolls.length === 0' class="myPollsTable">

						<div class="row search">
							<div class="col-md-4 col-md-offset-1 col-sm-4 col-sm-offset-1 col-xs-12">
								<div class="form-group">
									<div>
										<label for="search" class="control-label">Search</label>
										<input ng-model='search' type="text" class="form-control" id="search">

									</div>

								</div>
							</div>

							<div class="col-md-4 col-md-offset-2 col-sm-4 col-sm-offset-2 col-xs-12">
								<div class="form-group">
									<label for="orderBy" class="control-label">Order by</label>
									<div>
										<select ng-model='order' id="orderBy" class="form-control">
											<option value="date">Newest first</option>
											<option value="-totalVotes">Total votes</option>
										</select>
									</div>
								</div>

							</div>
						</div>

						<div class="table-responsive">

							<table class="table table-striped table-hover">
								<thead>
									<tr>
										<th>Poll name</th>
										<th>Total votes</th>
										<th>Operation</th>
									</tr>
								</thead>
								<tbody>
									<tr class='animate-repeat' ng-repeat='poll in myPolls | orderBy: order | filter: search'>
										<td> <a ng-href="/#/polls/{{poll._id}}">{{poll.name}}</a> </td>
										<td>{{poll.totalVotes}}</td>
										<td>
											<button type="button" class="" data-toggle="modal" data-target="#modal" ng-click='setDeleteId(poll._id,poll.name)'>Delete</button>
										</td>
									</tr>
								</tbody>
							</table>

						</div>

					</div>

					<h3 class="noPolls" ng-show='myPolls.length === 0'>No polls</h3>

					<div ng-show='message' class="alert alert-dismissible alert-success">
						<strong>{{message}}</strong>
					</div>

					<div ng-show='error' class="alert alert-dismissible alert-danger">
						<strong>{{error}}</strong>
					</div>

				</section>

			</div>

		</div>

	</div>

	<!-- Modal -->
	<div id="modal" class="modal fade" role="dialog">
		<div class="modal-dialog">
			<div class="modal-content">

				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
					<h4 class="modal-title">Delete poll</h4>
				</div>

				<div class="modal-body">
					<p>Do you want delete the poll <span class=''>"{{ pollToDelete.name }}"</span> ? </p>
				</div>

				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
					<button data-dismiss="modal" type="button" class="btn btn-danger" ng-click='deletePoll()'>Delete</button>
				</div>

			</div>
		</div>
	</div>

</div>
