<div class="poll">

	<div ng-show='poll' ng-hide='poll.error' class="container">

		<h2>{{::poll.name}}</h2>
		<section ng-hide='pollVoted()' class="vote">

			<form ng-submit='votePoll()'>

				<div class="form-group">

					<div class="radio" ng-repeat='option in poll.options'>

						<label for='option{{option._id}}'>

							<input type="radio" ng-model='$parent.optionVoteId' ng-value="option._id" id="option{{::option._id}}" name="optionsRadios" required> {{::option.name}}

						</label>

					</div>

					<button type='submit' class='btn btn-lg'>Submit</button>

				</div>

			</form>

		</section>

		<section ng-show='pollVoted()' class="info">

			<div ng-repeat='option in poll.options | orderBy: "-votes" '>

				<p class='optionPercent'>
					<span>{{::option.name}}  </span>
				</p>
				<p>
					<span>Votes: {{option.votes}}</span>
					<span>Percents: {{option.votes*100/poll.totalVotes || 0 | number:2 }} %</span>
				</p>

				<div class="progress">
					<div class="progress-bar" ng-style="{'width': (option.votes*100/poll.totalVotes)+'%' }"></div>
				</div>

			</div>

			<p class="totalVotes"> Total votes: <span> {{poll.totalVotes}} </span> </p>

		</section>

		<button ng-show='isAuthor()' type="button" class="deleteButton btn btn-lg" data-toggle="modal" data-target="#modal">Delete</button>

	</div>

	<!--Messages-->
	<div ng-show='poll.error' class="alert alert-dismissible alert-danger">
		<strong>{{poll.error}}</strong>
		<p><a href="/#/home">Go home</a></p>
	</div>

	<div ng-show='error' class="alert alert-dismissible alert-danger">
		<strong>{{poll.error}}</strong>
		<p><a href="/#/home">{{error}}</a></p>
	</div>

	<div ng-show='message' class="alert alert-dismissible alert-success">
		<strong>{{message}}</strong>
		<p> <a href="/#/home"> Go home </a> </p>
	</div>

	<!-- Modal -->
	<div id="modal" class="modal fade" role="dialog">
		<div class="modal-dialog">
			<div class="modal-content">

				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
					<h4 class="modal-title">Delete poll</h4>
				</div>

				<div class="modal-body">
					<p>Do you want delete the poll <span class=''>"{{::poll.name}}"</span> ? </p>
				</div>

				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
					<button data-dismiss="modal" type="button" class="btn btn-danger" ng-click='deletePoll()'>Delete</button>
				</div>

			</div>
		</div>
	</div>

</div>
